* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
   
}
html{
    width: 100vw;
    height: 100vh;
}
.Plano_de_fundo {
position: relative;
background: #F3F5FC;

}
.Plano_de_fundo p{
/*posição do texto*/
position: absolute;
width: 10%;
height: 2%;
left: 240px;
top: 168px;
/*fonte do texto*/
font-weight: 400;
font-size: 32px;
line-height: 150%;
color: #0A3871;

}
.input-texto{
    position: absolute;
    left: 340px;
    top: 150px;
    width: 343px;
    height: 57vh;
    color: #0A3871;
    resize: none;
    background:transparent;
    border: none;

}
::placeholder { color: #0A3871; }
/*deixa a textarea sem borda*/
.input-texto:focus { 
    border: none;
    outline: none;
   }
.button__criptografar{
    display: flex;
}

.logoAlura {
    position:absolute;
    right: 90.74%;
    left: 5.21%;
    top: 6.25%;
    bottom: 89.8%;

}
.btn{
    display: flex;
    position: absolute;
    top: 650px;
    left: 160px;
    bottom: 72px;
    right: 872px;
   

}
.criptografar{
    /*posição do botão*/
  
    margin-right: 10px;
    /*tamanho do botão*/
    width: 328px;
    height: 67px;
/*plano de fundo botão*/
    background: #0A3871;
    border-radius: 24px;
    /*fonte do botão*/
  
    font-size: 16px;
    line-height: 19px;
    text-align: center;
        /* cor font */
    color: #FFFFFF;
}
.desencriptador{
    
    /*tamanho do botão*/
    width: 328px;
    height: 67px;
/*estilo do botão*/
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    /*fonte do botão*/
   
    font-size: 16px;
    line-height: 19px;
    text-align: center;
        /* cor font */
    color: #0A3871
}
#aviso{
    
    width: 245px;
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #495057;

opacity: 0.8;
}

.output-texto {
    position: absolute;
    margin:40px 40px 40px 1000px;
    width: 400px;
    height: 82vh;
    padding: 30px;
    
    color:#495057;;
    
    /* shadow */
   
    border-color: #FFFFFF;
    border-radius: 32px;
}
.output-texto:focus{
    border: none;
    outline: none;
}
.copiar{
    
    position: absolute;
    width: 336px;
    height: 67px;
    
    left: 1060px;
    top: 650px;
    
    
    border: 1px solid #0A3871;
    border-radius: 32px;
    background: #D8DFE8;

    /*fonte*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    z-index: 5;
}
.copiar:hover{
    cursor: grab;
}
.message-box-div{
    position: relative;
    /*margin:40px 40px 40px 1000px;*/
    top: 40PX;
    right: 40PX;
    left: 1000PX;
    bottom: 42PX;
    border-radius:10PX ;
    padding: 32px;


    width: 400px;
    height: 78vh;
  
    z-index: 3;
}
.message-box-div img{
    margin-left: auto;
    margin-right: auto;
 }
.mensagem h2{
   
    width: 336px;
    height: 58px;
    margin-left: auto;
    margin-right: auto;

    /*fonte*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    
}
.mensagem h3{
    width: 336px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}
.message-box-div{
    height: 80vh;
}
.message-box-div, .message-box-div img {
    padding-top: 40px;
    background: #FFFFFF;
  }
  .logo__R{
    width: 5vw;

  }




